* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
}
body {
  color: #111;
}
.home-image {
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-image img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  display: img play;
}
/* NAVBAR */
.logo img {
  height: 45px;
  width: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  z-index: 1000;
}

.logo span {
  color: orange;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  background: url("images/hero.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background: rgba(0,0,0,0.65);
  color: white;
  padding: 60px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: orange;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section.dark {
  background: #111;
  color: white;
}

h2 {
  margin-bottom: 40px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: black;
  width: 260px;
  border: 2px solid orange;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0;
}

.card p {
  padding: 0 15px 20px;
}

.price {
  background: #fff;
}

.price-tag {
  font-size: 24px;
  color: orange;
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .logo img {
    height: 38px;
  }
}
button {
  background: orange;
  border: none;
  font-weight: bold;
}

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 28px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 2000;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .hero-overlay {
    padding: 30px;
  }
}
/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar ul {
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 100%;
    flex-direction: column;
    display: none;
    text-align: center;
  }

  .navbar ul.show {
    display: flex;
  }

  .navbar ul li {
    padding: 15px 0;
    border-top: 1px solid #222;
  }
}
